:root {
  --color-primary: #047857;
  --color-primary-dark: #065f46;
  --color-secondary: #f38200ff;
  --color-secondary-dark: #b45309;
  --color-text-dark: #1f2937;
  --color-text-light: #f9fafb;
  --color-background: #f4f4f7;
  --color-surface: #ffffff;
  --color-border: #e5e7eb;
  --color-success: #10b981;
  --color-opacity: #cee7e0ff;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  background-color: var(--color-background);
  color: var(--color-text-dark);
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.6;
}

a {
  color: inherit;
  text-decoration: none;
}

h1 {
  font-size: 2.2rem;
  font-weight: 700;
}
h2 {
  font-size: 1.6rem;
  font-weight: 600;
}

.container {
  max-width: 1800px;
  margin: 0 auto;
  padding: 0 1.5rem;
}
